@charset "UTF-8";


/* 全体 */

body {
	font-family: -apple-system, BlinkMacSystemFont, "source-han-sans-japanese", "frank-new" sans-serif;
	font-size: 16px;
	background-color: #ffffff;
}

a {
	word-break: break-all;
}

/* Headerはindex.htmlのみ */
header {
	margin: 0;
	padding: 0;
	height: 100vh;
	background-image: url('../images/background_hero.png');
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
}

header h1 {
	text-align: center;
	margin: 0;
	padding: 0;
}

header h1 img {
	max-width: 80%;
	margin: 0;
	padding: 0;
}

#hero_img {
	max-width: 100%;
}

.childHeader {
	margin: 0;
	padding: 20px 0;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
}

.childHeader h1 {
	text-align: center;
	margin: 0;
	padding: 0;
}

.childHeader h1 img {
	max-width: 80%;
	margin: 0;
	padding: 0;
}

/* Mean-bar */
.mean-container a.meanmenu-reveal {
	color: white;
}

/* ソーシャルボタンの設定 */

@media screen and (min-width: 1024px) {
	.header_bn{
		position:absolute;
		bottom:0%;
		left:44%;
	}
	.bn {
		width: calc(60% + 5vw);
		height: auto;
		margin: 60px auto;
	}

	.sbtn {
		position: absolute;
		top: 60px;
		right: 30px;
	}

	.sbtn li {
		float: left;
		list-style-type: none;
		width: 60px;
		height: 40px;
		margin-top: 0px;
	}

	.sbtn li a img {
		transition: 0.3s;
		-webkit-transition: 0.3s;
	}

	.sbtn li a:hover img {
		opacity:0.7;
		filter: alpha(opacity=70);        /* ie lt 8 */
		-ms-filter: "alpha(opacity=70)";  /* ie 8 */
		-moz-opacity:0.7;                 /* FF lt 1.5, Netscape */
		-khtml-opacity: 0.7;              /* Safari 1.x */
	}

	.ftsbtn {
		display: none;
	}
}

@media screen and (max-width: 1023px) {
	.childHeader{
		padding-top: 60px;
	}
	.sbtn {
		display: none;
	}

	.ftsbtn {
		position: relative;
		overflow: hidden;
		margin-top: 10px;
	}

	.ftsbtn ul {
		list-style-type: none;
		margin-left: 0;
		float: left;
		left: 50%;
		position: relative;
	}

	.ftsbtn li {
		float: left;
		width: 60px;
		height: 40px;
		margin-top: 4px;
		left: -50%;
		position: relative;
	}

	.ftsbtn li a img {
		transition: 0.3s;
		-webkit-transition: 0.3s;
	}

	.ftsbtn li a:hover img {
		opacity:0.7;
		filter: alpha(opacity=70);        /* ie lt 8 */
		-ms-filter: "alpha(opacity=70)";  /* ie 8 */
		-moz-opacity:0.7;                 /* FF lt 1.5, Netscape */
		-khtml-opacity: 0.7;              /* Safari 1.x */
	}
	.header_bn{
		position:absolute;
		bottom:0%;
		left:35%;
	}
	.bn {
		width: calc(40% + 12vw);
		height: auto;
		margin-bottom: 20px;
	}
}

p img {
	max-width: 100%;
	height: auto;
}

h1 img {
	max-width: 100%;
	height: auto;
}

h2 {
	text-align: center;
	font-size: 2.5em;
	margin-bottom: 20px;
	color: #333;
	padding-bottom: 10px;
	border-bottom: solid 1px #d35b31;
	max-width: 640px;
	margin: 0 auto;
	line-height: 1.1;
}

.h2404 {
	font-size: 10em;
}

.h2404 {
	font-size: 5em;
}


@media screen and (max-width: 600px) {
	h2 {
		max-width: 80%;
		line-height: 1.1;
		font-size:8.5vw;
	}
	.participants_h2{
		font-size: 1.8em;
	}
}

h3 {
	color: #000;
	font-size: 25px;
	text-align: center;
	margin: 20px;
}

h4 {
	font-size:20px;
	text-align: left;
	color: #333;
	margin-left: 0;
	margin-top: 40px;
	margin-bottom: -50px;
	padding-left: 40px;
}

h4.h4se {
	margin-top: -20px;
}

@media screen and (max-width: 1023px) {
	.js-clingify-placeholder {
		display: none;
	}

	h3.sp-h3 {
		height: 64px;
	}
}

/* グローバルナビ */

@media screen and (min-width: 1024px) {
	nav {
		height: 60px;
		background-color: #fff;
		margin-top: 0;
		padding-top: 0;
		font-weight: 700f;
		/* border-bottom: solid 2px #e4e043; */
		box-shadow: 0 3px 6px rgba(0,0,0,0.2);
		font-size: 14px;
	}

	nav ul {
		max-width: 1280px;
		margin: 0 auto;
	}

	nav li {
		float: left;
		display: block;
		width: 12.5%;
		text-align: center;
		margin-top: 22px;
	}

	.OBOG{
		margin-top: 14px;
	}

	nav li a {
		color: #000;
		text-decoration: none;
		font-weight: bold;
	}

	nav li a:hover {
		color: #d35b31;
		border-bottom: solid 2px #d35b31;
	}
}

.OBOGimg{
	width: 70%;
	margin-left: 15%;
}

@media screen and (max-width: 1023px) {
	nav li.logo{
		display: none;
	}
}

.box {
	background-color: #ffffff;
	margin: 0 auto;
	z-index: 1;
	color: #fff;
	padding-bottom: 20px;
}

.clearfix:after{
	content: "";
	clear: both;
	display: block;
}

@media screen and (min-width: 641px) {
	.box {
		/*max-width: 1000px;*/
	}

	.sp-br {
		display: none;
	}
}

p.text {
	padding: 0px 40px 40px 40px;
	line-height: 2.0em;
	letter-spacing: 0.05em;
	color: #333;
	max-width: 800px;
	margin: 0 auto;
	margin-top: 20px;
	clear: both;
}

p.textGreeting {
	text-align: left;
	padding: 40px;
	line-height: 2.5em;
	letter-spacing: 0.05em;
	color: #333;
	max-width: 800px;
	margin: 0 auto;
	margin-top: 20px;
	clear: both;
}

@media screen and (max-width: 640px) {
	p.textGreeting {
		text-align: left;
		padding: 20px;
		line-height: 2.0em;
		letter-spacing: 0.05em;
		color: #333;
		max-width: 800px;
		margin: 0 auto;
		margin-top: 20px;
		clear: both;
	}
}

p.signature {
	text-align: right;
	padding: 40px;
	line-height: 1.5em;
	letter-spacing: 0.1em;
	color: #333;
	max-width: 800px;
	margin: 0 auto;
	margin-top: 20px;
}

p.signatureImage {
	text-align: right;
	padding-right: 40px;
	padding-bottom: 40px;
	padding-top: -15px;
	line-height: 1.5em;
	letter-spacing: 0.1em;
	color: #333;
	max-width: 800px;
	margin: 0 auto;
}

p.textAbout {
	text-align: center;
	padding: 20px;
	line-height: 2.5em;
	letter-spacing: 0.05em;
	color: #333;
	max-width: 800px;
	margin: 0 auto;
	margin-top: 20px;
	clear: both;
}
p.gaiyou {
	text-align: left;
}

p.catchcopy {
	text-align: center;
	font-size: 1.5em;
	color: #8c82af;
}

.rs {
	float: right;
}

footer {
	min-height: 40px;
	background-color: #424142;
	text-align: center;
	padding-top: 18px;
}

footer small {
	font-size: 12px;
	color: #fff;
}

.scbtn {
	padding-bottom: 20px;
}

p a {
	color: #4390ce;
	text-decoration: none;
}

p a:hover {
	color: #4390ce;
	border-bottom: solid 2px #4390ce;
}

.emlink {
	color: #b00f16;
}

.ctcontent, .ctgreeting, .cttopics {
	margin: 0 auto;
	padding-top: 40px;
	max-width: 800px;
	background-color: #fff;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.ctgreeting {
	background-color: rgba(255,255,255,);
}

.imaara{
	font-weight: bold;
}

.hinata{
	opacity: 0.95;
}

.cttopics {
	margin-top: 60px;
	max-width: 100%;
}

.ct404 {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.ct2 {
	margin-top: 60px;
}

@media screen and (max-width: 840px) {


	.ctcontent, .ctgreeting {
		width: 90%;
	}
}

.button {
	max-width: 240px;
	height: 60px;
	background-color: #fff;
	padding-top: 36px;
	text-align: center;
	font-weight: bold;
}

.button a {
	font-size: 24px;
	color: #333;
}

.scbtn {
	position: relative;
	overflow: hidden;
	margin-top: 10px;
}

.scbtn ul {
	list-style-type: none;
	margin-left: 0;
	float: left;
	left: 50%;
	position: relative;
}

.scbtn li {
	float: left;
	margin-top: 4px;
	left: -50%;
	position: relative;
	margin-left: 10px;
}

/* トップに戻るボタン */

.pagetop {
    position: fixed;
    bottom: 120px;
    right: 15px;
	z-index: 10000;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.pagetop a {
    display: block;
    background-color: #ccc;
    text-align: center;
    color: #222;
    font-size: 12px;
    text-decoration: none;
    padding: 20px 20px;
	filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
    z-index: 10000;
}

.pagetop a:hover {
    display: block;
    background-color: #8c82af;
    text-align: center;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    padding: 20px 20px;
	filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
    z-index: 10000;
}

/* セクション */

section {
	margin-top: 0;
	padding: 60px 0;
}

.greeting {
	margin-top: 0;
	background-image: url('../images/ending.jpg');
	background-size: cover;
	background-position: bottom;
}

.content {
	margin-top: 0;
	background-image: url('../images/background.png');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.contentChild {
	margin-top: 0;
	background-image: url('../images/background.png');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

@media screen and (max-width: 860px) {
	.content {
		background: none;
	}

	.content::before {
		content: "";
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100vh;
		background: url('../images/background_mobile.png') center/cover no-repeat;
		-webkit-background-size: cover;
	}

	.contentChild {
		background: none;
	}

	.contentChild::before {
		content: "";
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100vh;
		background: url('../images/background.png') center/cover no-repeat;
		-webkit-background-size: cover;
	}
}

#hoge{
  display: inline;
}

.youtube-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin:0 auto;
  margin-bottom: 100px;
  width: 80%;
}
.youtube-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 640px) {
	.youtube-container {
		width: 95%;
	  }
	}

.themesong {
	padding: 0px 40px 40px 40px;
    line-height: 2.0em;
    letter-spacing: 0.05em;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
	clear: both;
	list-style: none;
}

.themesong li {

	margin-bottom:10px;

}

.table {
	padding-bottom: 40px;
	overflow-x: scroll;
	max-width: 80%;
	margin: 0 auto;
}

.table table {
	margin: 0 auto;
	text-align: center;
	overflow: scroll;
}

.table table , td, th {
	border: 1px solid #595959;
	border-collapse: collapse;
}
.table td, th {
	padding: 3px;
	min-width: 60px;
	height: 30px;
	padding: 5px;
}
.table th {
	background: rgba(198, 81, 100, 0.6);
}
.even {
	background: #fbf8f0;
}
.odd {
	background: #fefcf9;
}

.weblink{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap:12px;
	margin-top: 5%;
	margin-bottom: 50px;
}

.sp_bn img{
	width:50vh;
}

.sp_bn{
	margin:10px;
}

@media screen and (max-width: 640px){
	.weblink{
		grid-template-columns: auto;
	}

	.sp_bn{
		grid-column: 1 / 3;
		padding: 0px 20px;
	}

}

.pay{
	font-weight: bolder;
}

.article{
	max-width: 700px;
	height: auto;
	border-top:solid 1px rgba(0,0,0,0.2);
	margin: 0 auto;
	display: flex;
	align-items: center;
	
}

.article_contents{
	height: 100%;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
	
}

.text_press{
	color: #333;
	letter-spacing: 0.05em;
	line-height: 1.8em;
	margin-left: 1em;
	font-weight: bold;
	font-size: 15px;

	
}

.press_day{
	color: #333;
	letter-spacing: 0.05em;
	margin-top: 7px;
	font-size: 15px;
	font-weight: lighter;

	
}

.bottom{
	border-bottom: solid 1px rgba(0,0,0,0.2);
}

.top{
	border-top: none;
}

.ct3{
	padding-bottom: 50px;

}

.link_press{
	color: #333;
}

.press01{
	font-weight: bolder;
}

